#cycle_img {
	width: 719px;
	height: 267px;
	float: left;
}
#cycle_nav {
	width:719px;
	position: relative;
	margin: 0px 0px 0px 0px;
	z-index: 100;
	padding: 0;
}
#cycle_nav li {
	width: 18px;
	height: 18px;
	float: left;
	margin: 2px 2px;
	background: #9ccdff;
	list-style: none;
	font-size:12px;
	text-align: center;
	border: 1px solid #ccc;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /*IE8*/
     filter:alpha(opacity=50);  /*IE5、IE5.5、IE6、IE7*/
     opacity: .5;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
	cursor: pointer;
}
#cycle_nav li.activeSlide { 
	background: #3197ff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*IE8*/
     filter:alpha(opacity=100);  /*IE5、IE5.5、IE6、IE7*/
     opacity: 1;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
	color:#fff;
}